<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @event.user %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @event.restaurant %>
</p>

<p>
  <strong>Message:</strong>
  <%= @event.message %>
</p>

<%= render partial: "comments/template", locals: {commentable: @event, new_comment: @new_comment} %>
  


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
